# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Database
database/quiz.db
instance/

# IDE / Editor
.vscode/
.idea/

# Dotenv
.env
.secrets

# Uploads
quiz_app/uploads/
quiz_app/static/audio/tts
quiz_app/static/text

# Import questions
data/CNRS_QUESTIONS

